body {
  background-color: rgb(75, 75, 75);
}
.wrapper {
  max-width: 80%;
  display: flex;
  flex-wrap: wrap;
  row-gap: 2rem;
  justify-content: space-between;
  margin: 0 auto;
}
.radio {
  visibility: hidden;
}

/*** pagination ***/
.pagination {
  width: 17%;
  height: 8%;
  display: flex;
  order: 2;
  justify-content: space-between;
  align-items: center;
}
.pagination__label {
  display: block;
  width: 1rem;
  height: 1rem;
  padding: 0.5rem;
  cursor: pointer;
}
.pagination__label__div {
  width: 80%;
  height: 80%;
  border-radius: 50%;
  border: 0.2rem solid rgba(69, 69, 235, 1);
  background-color: rgba(69, 69, 235, 1);
  transition: 1s;
}
.pagination__label__div:hover {
  border: 0.2rem solid rgb(202, 202, 246);
  background-color: rgb(202, 202, 246);
}
#slide1:checked ~ .wrapper > .pagination > .pagination__label:nth-child(1) > .pagination__label__div {
  border: 0.2rem solid rgb(202, 202, 246);
  background-color: rgba(69, 69, 235, 0);
}
#slide2:checked ~ .wrapper > .pagination > .pagination__label:nth-child(2) > .pagination__label__div {
  border: 0.2rem solid rgb(202, 202, 246);
  background-color: rgba(69, 69, 235, 0);
}
#slide3:checked ~ .wrapper > .pagination > .pagination__label:nth-child(3) > .pagination__label__div {
  border: 0.2rem solid rgb(202, 202, 246);
  background-color: rgba(69, 69, 235, 0);
}
#slide4:checked ~ .wrapper > .pagination > .pagination__label:nth-child(4) > .pagination__label__div {
  border: 0.2rem solid rgb(202, 202, 246);
  background-color: rgba(69, 69, 235, 0);
}